{% extends "core/base.html" %}
{% block title %}Dashboard{% endblock  %}
{% block content %}
<div class="py-6 px-6">
    <h1 class="text-xl">Dashboard</h1>
        <div class="flex space-x-4">
            <div class="w-1/2 px-4 py-6 bg-yellow-200 rounded-xl leads">
                <h2 class="mb-4 px-2 bg-red-300 rounded-xl text-lg">Newest leads</h2>
                    {% for lead in leads %}
                    <div class="mb-2 lead">
                        <h3 class="font-semifold">{{lead.name}}</h3>
                        <p class="text-xs">Status: {{lead.get_status_display}}</p>
                        <p class="mb-1 text-xs">Priority: {{lead.get_priority_display}}</p>
                        <a href="{% url 'lead_detail' lead.pk %}"class="bg-green-300 px-2 rounded-xl">Details</a>
                    </div>
                    {% endfor %}
            </div>

            <div class="w-1/2 px-4 py-6 bg-yellow-200 rounded-xl clients">
                <h2 class="mb-4 px-2 bg-red-300 rounded-xl text-lg">Newest clients</h2>
                {% for client in clients %}
                <div class="mb-2 client">
                    <h3 class="font-semifold">{{client.name}}</h3>
                    <a href="{% url 'clients_detail' client.pk %}"class="bg-green-300 px-2 rounded-xl">Details</a>
                </div>
                {% endfor %}
            </div>
        </div>
</div>
{% endblock %}